<%= section_panel 'Attributes', :id => 'cloud_attributes', :width => 'double', :position => 'left' do %>
  <%= render 'attributes' %>
<% end %>

<%= section_panel 'Services',
                  :width    => 'single',
                  :position => 'right' do %>
  <div id="cloud_services_list"><%= loading_indicator %></div>
  <script type="text/javascript">
    <%= remote_function(:url => cloud_services_path(@cloud), :method => :get) %>
  </script>
<% end %>

<%= section_panel 'Status', :id => 'cloud_status', :width => 'double', :position => 'left' do %>
  <%= render 'status' %>
<% end %>

<% if @teams %>
  <div id="team_list">
    <%= render 'team_list' %>
  </div>
<% end %>
