<dl class="dl-horizontal narrowest">
  <dt><%= icon('archive') %></dt>
  <dd>Pack
    <%= link_to(catalog_pack_platform_path(params[:source], params[:pack], params[:version], params[:availability], params[:pack])) do %>
      <b><%= params[:pack] %></b> ver.<b><%= params[:version] %></b>
    <% end %>
    provided by <em><%= params[:source] %></em> circuit</dd>
  <dt><%= icon(site_icon(:user)) %></dt>
  <dd>Owned by <b><%= @pack.ciAttributes.owner.presence || 'unknown' %></b></dd>
  <dt><%= icon('clock-o') %></dt>
  <dd>Created <b><%= time_ago_in_words(@version.created_timestamp) %></b></dd>
  <dt><%= icon('book') %></dt>
  <dd><%= link_to(raw("Documentation & notes #{icon('external-link')}"), pack_doc_url(params[:source], params[:pack], params[:version], :anchor => params[:availability].blank? ? 'design' : 'transition'), :target => '_blank') %></dd>
  <% desc = @pack.ciAttributes.description %>
  <% if desc.present? %>
    <dt><%= icon('comment') %></dt>
    <dd><%= desc %></dd>
  <% end %>
  <dt><%= icon(site_icon(:deployment)) %></dt>
  <dd>
    Operations stats:
    <% version = params[:version]
       dom_id = random_dom_id %>
    <div class="btn-group pull-right" id="<%= dom_id %>">
      <%= link_to(icon('check', "ver. #{version}"), catalog_pack_stats_path(params[:source], params[:pack], params[:version]), :remote => true, :class => 'btn btn-mini active') %>
      <%= link_to(icon('', 'all versions'), catalog_pack_stats_path(params[:source], params[:pack]), :remote => true, :class => 'btn btn-mini') %>
    </div>
    <script>
      $j("#<%= dom_id %> .btn").click(function() {
        var button = $j(this);
        button.parent().find("i.fa-check").removeClass("fa-check");
        button.siblings('.btn').removeClass("active");
        button.addClass("active");
        button.find("i.fa").addClass('fa-check');
      });

    </script>
    <%= render 'stats' %>
  </dd>
</dl>
