<%= section_panel 'Components', :id => 'components_list', :width => 'single', :position => 'right' do %>
  <div id="component_list"><%= loading_indicator %></div>
  <script type="text/javascript">
    <%= remote_function(:url => assembly_transition_environment_platform_components_path(@assembly, @environment, @platform), :method => :get) %>
  </script>
<% end %>

<%= section_panel 'Platform Configuration & Status', :width => 'double', :position => 'left' do %>
  <%= render('base/shared/edit_form',
             {:resource => @platform,
              :content  => 'cms/cis/properties',
             :read_only => true}) %>
  <hr/>
  <div id="platform_status"><%= render('platform_status') %></div>
<% end %>

<% if @scale_relations.present? %>
  <%= section_panel 'Scaling', :id => 'platform_configuration', :width => 'double', :position => 'left' do %>
    <div id="platform_configuration"><%= render 'configuration' %></div>
  <% end %>
<% end %>

<%= section_panel 'Cloud Configuration', :width => 'double', :position => 'left' do %>
  <div id="cloud_status"><%= render 'cloud_status' %></div>
<% end %>
