<%= section_panel "Releases#{' & Deployments' if @environment}",
                  :width    => 'single',
                  :position => 'left',
                  :menu     => @environment ? [link_to_function(icon('download'), "render_modal('deployment_list_download_modal')", :class  => 'btn btn-mini')] : nil do %>
  <%= timeline_list([],
                    :paginate => {:url  => @environment ?
                                               page_assembly_transition_environment_timeline_path(@assembly, @environment) :
                                               page_assembly_design_timeline_path(@assembly),
                                  :size => 20},
                    :toolbar  => @environment ? {} : {:quick_filters => nil}) %>
<% end %>

<div id="timeline_details"></div>

<div id="deployment_list_download_modal" class="modal hide fade">
  <div class="modal-header">
    <h3>Download list of deployments</h3>
  </div>
  <div class="modal-body">
    <p>You can export a list of past deployments for a given time period to a <i>csv</i> file.</p>
    <%= form_tag assembly_transition_environment_deployments_path(@assembly, @environment, :format => 'csv'),
                 :method => :get,
                 :class => 'form-horizontal' do %>
      <div class="control-group">
        <%= label_tag :deploymentListStartTime, 'From:', :class => 'control-label' %>
        <div class="controls">
          <%= date_field_tag :start, Date.today.beginning_of_year, :required => true %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :deploymentListEndTime, 'To:', :class => 'control-label' %>
        <div class="controls">
          <%= date_field_tag :end, Date.today.last_month.end_of_month, :required => true %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= link_to_function(raw(icon('times', 'cancel')), 'hide_modal()', :class => 'btn btn-danger') %>
    <%= link_to_function(raw(icon('download', 'ok')), 'hide_modal(); $j("#deployment_list_download_modal form").submit()', :class  => 'btn btn-success') %>
  </div>
</div>
