<% enabled_platforms_count = @platforms.reject{ |e| e.relationAttributes.enabled != 'true' }.count %>
<% disabled_platforms_count = @platforms.reject{ |e| e.relationAttributes.enabled == 'true' }.count %>
<% instane_count = @platform_instance_counts.values.sum %>
<% if disabled_platforms_count == 0 %>
	<li class="status-marker">
		<div class="marker">
			<%= status_marker('platforms', 'enabled', 'label-success') %>
		</div>
		<div class="description">
			<ul>
				<li><%= icon('info-circle') %> All <%= @platforms.count %> platforms are <b>enabled</b></li>
				<li><%= icon('arrow-left') %> Go to <%= link_to highlight('transition','info'), assembly_transition_environment_path(@assembly,@environment) %>
					to disable platforms</li>
				<li><%= icon('check-circle') %> Environment has total of <%= highlight(instane_count, 'info') %> deployed instances</li>
			</ul>
		</div>
	</li>
<% elsif disabled_platforms_count == @platforms.count %>
	<li class="status-marker">
		<div class="marker">
			<%= status_marker('platforms', 'disabled') %>
		</div>
		<div class="description">
			<ul>
				<li><%= icon('info-circle') %> All <%= @platforms.count %> platforms are <b>disabled</b></li>
				<li><%= icon('arrow-left') %> Go to <%= link_to highlight('transition','info'), assembly_transition_environment_path(@assembly,@environment) %> to enable platforms</li>
			</ul>
		</div>
	</li>
<% else %>
	<li class="status-marker">
		<div class="marker">
			<%= status_marker('platforms', 'partial', 'label-success') %>
		</div>
		<div class="description">
			<ul>
				<li><%= icon('info-circle') %> <b><%= enabled_platforms_count %></b> of <%= @platforms.count %> platforms are <b>enabled</b></li>
				<li><%= icon('arrow-left') %> Go to <%= link_to highlight('transition','info'), assembly_transition_environment_path(@assembly,@environment) %> to enable or disable platforms</li>
				<li><%= icon('check-circle') %> Environment has total of <%= highlight(instane_count, 'info') %> deployed instances</li>
			</ul>
		</div>
	</li>
<% end %>


