<% has_transition = has_transition?(@assembly.ciId) %>
<% content_for :force_deploy_action do %>
  <% if has_transition %>
    <ul class="status-actions">
      <li>
        <% platform_selection = capture do %>
          <%= render 'transition/select_deploy_platforms', :platforms => @platforms.map(&:toCi) %>
        <% end %>
        <%= link_confirm_busy(button('Force Deploy', nil, 'inverse'),
                              :url     => force_deploy_assembly_transition_environment_path(@assembly, @environment),
                              :name    => 'commit_and_deploy',
                              :method  => :post,
                              :confirm => 'Force Deploy?',
                              :body    => platform_selection,
                              :with    => "'exclude_platforms='+deploy_platform_exclude_list()",
                              :busy    => 'Preparing to deploy...') %>
      </li>
    </ul>
  <% end %>
<% end %>
<% content_for :deploy_action do %>
  <% if has_transition %>
    <ul class="status-actions">
      <li>
        <%= link_busy(button(icon('check', 'Deploy'), nil, 'success'),
                      :url    => new_assembly_transition_environment_deployment_path(@assembly, @environment),
                      :method => :get,
                      :busy   => 'Retrieving deployment plan...') %>
      </li>
    </ul>
  <% end %>
<% end %>
<% instance_count = @platform_instance_counts.values.sum %>
<li class="status-marker">
  <% if @environment.ciState == 'locked' %>
    <div class="marker"><%= status_marker('deployment', 'generating', 'label-info') %></div>
    <div class="description">
      <ul>
        <li><%= icon('info-circle', ' ', 'fa-fw') %>You must wait till deployment plan is generated before deploying</li>
      </ul>
      <%= yield :deploy_action %>
    </div>
  <% elsif @deployment  && %w(active failed paused pausing pending).include?(@deployment.deploymentState) %>
    <div class="marker"><%= status_marker('deployment', @deployment.deploymentState, state_to_label(@deployment.deploymentState)) %></div>
    <div class="description">
      <ul>
        <li><%= render 'base/shared/deployment_progress', :deployment => @deployment, :width => '440px' %></li>
        <li>
          <%= icon('star', ' ', 'fa-fw') %>Deployment <%= @deployment.deploymentId %> created
          <strong><%= time_ago_in_words(@deployment.created_timestamp) %></strong>
        </li>
        <li><%= icon('user', ' ', 'fa-fw') %>Created by <strong><%= @deployment.createdBy %></strong></li>
        <% if @deployment.deploymentState == 'failed' %>
          <li>
            <%= icon('exclamation-triangle', ' ', 'fa-fw') %>
            Deployment <strong>failed</strong>
            <strong><%= time_ago_in_words(@deployment.updated_timestamp) %></strong>
          </li>
          <li><%= icon('check-circle-o',' ', 'fa-fw') %>Environment has total of <%= highlight(instance_count, 'info') %> deployed instances</li>
          <%= render 'transition/environments/deployment_problems' %>
        <% elsif @deployment.deploymentState == 'pending' && @pending_approvals.present? %>
           <%= render 'transition/environments/pending_approvals_info' %>
        <% end %>
      </ul>
      <ul class="status-actions">
        <li>
          <%= link_busy(button('View Deployment', nil, 'primary'),
                        :url    => edit_assembly_transition_environment_deployment_path(@assembly, @environment, @deployment),
                        :method => :get,
                        :busy   => 'Retrieving deployment plan...') %>
        </li>
        <% if has_transition %>
          <% if @deployment.deploymentState == 'active' %>
            <li><%= render 'transition/deployments/action', :action => 'pause' %></li>
          <% elsif @deployment.deploymentState == 'failed' %>
            <li><%= render 'transition/deployments/action', :action => 'cancel' %></li>
            <li><%= render 'transition/deployments/action', :action => 'retry' %></li>
          <% elsif @deployment.deploymentState == 'paused' %>
            <li><%= render 'transition/deployments/action', :action => 'cancel' %></li>
            <li><%= render 'transition/deployments/action', :action => 'resume' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% elsif @bom_release %>
    <%= render 'transition/environments/status_deployment_pending' %>
  <% elsif @deployment %>
    <div class="marker"><%= status_marker('deployment', @deployment.deploymentState, state_to_label(@deployment.deploymentState)) %></div>
    <div class="description">
      <ul class="status-items">
        <li>
          <%= icon('check', ' ', 'fa-fw') %>Last deployment <%= @deployment.deploymentId %> <%= @deployment.deploymentState %>
          <strong><%= time_ago_in_words(@deployment.updated_timestamp) %></strong>
        </li>
        <li><%= icon('user', ' ', 'fa-fw') %>Deployed by <b><%= @deployment.createdBy %></b></li>
        <li>
          <%= icon('clock-o', ' ', 'fa-fw') %>Duration of last deployment was
          <strong><%= ((@deployment.updated_timestamp - @deployment.created_timestamp) / 60).round %> minutes</strong>
        </li>
        <li><%= icon('check-circle-o',' ', 'fa-fw') %>Environment has total of <%= highlight(instance_count, 'info') %> deployed instances</li>
      </ul>
      <%= yield :force_deploy_action %>
    </div>
  <% else %>
    <div class="marker"><%= status_marker('deployment', 'none', 'label') %></div>
    <div class="description">
      <% if @release && @release.releaseState == 'closed' %>
        <ul>
          <li><%= icon('exclamation-triangle', ' ', 'fa-fw') %>Environment needs a deployment</li>
        </ul>
      <% end %>
      <%= yield :force_deploy_action %>
    </div>
  <% end %>
</li>
