<div class="control-group">
  <%= f.label 'New Password', :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password, :required => true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :current_password, :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :current_password, :required => true %>
  </div>
</div>
