<%= section_panel 'Email Notifications', :width => 'triple', :position => 'left' do %>
  <% watches = current_user.watches %>
  <% if watches.blank? %>
    You are not watching any assemblies and environments.
  <% else %>
    You are watching these assemblies and environments by receiving email notifications about deployment and operation events.
    <br><br>
    <%= list(watches,
             :toolbar => {:list_name => 'profile_ci_watch',
                          :sort_by   => [%w(Name ciName), %w(Class ciClassName)],
                          :filter_by => %w(ciName Class)}) do |builder, target| %>
      <% builder.target link_to('', redirect_ci_path(target.ci_id)) %>
      <% ci_class_name = target.ci_class_name %>
      <% builder.icon ci_class_image_url(ci_class_name) %>
      <% builder.top do %>
        <span class="topname"><%= target.ci_name %></span>
        <span class="topdesc"><%= ci_class_name.split('.').last.downcase %></span>
        <%= link_to_function('stop watching',
                             %($j.ajax({url: "#{watch_path(:org_name => target.ns_path.split('/')[1])}", type: "DELETE", data: {ciIds: ["#{target.ns_path},#{target.ci_name}"]}})),
                             :class => 'btn btn-mini btn-danger pull-right') %>
      <% end %>
      <% builder.middle link_to(target.ns_path, path_to_ns(target.ns_path)) %>
    <% end %>
  <% end %>
<% end %>
