<% content_for :deploy_action do %>
  <ul class="status-actions">
    <li>
      <%= link_busy(button(icon(site_icon(:deployment), 'Deployment Plan'), nil, 'primary'),
                    :url    => bom_assembly_transition_environment_deployments_path(@assembly, @environment),
                    :method => :get,
                    :busy   => 'Retrieving deployment plan...') %>
    </li>
  </ul>
<% end %>
<% if @environment.ciState == 'locked' %>
  <div class="marker"><%= status_marker('deployment', 'compiling', 'label-info') %></div>
  <div class="description">
    <ul>
      <li><%= icon('info-circle', ' ', 'fa-fw') %>Deployment compilation is in progress. Deployment will start once compilation is done.</li>
    </ul>
    <%= yield :deploy_action %>
  </div>
<% elsif @deployment && %w(active failed paused pausing pending).include?(@deployment.deploymentState) %>
  <div class="marker"><%= status_marker('deployment', @deployment.deploymentState, state_to_label(@deployment.deploymentState)) %></div>
  <div class="description">
    <ul>
      <li><%= render 'base/shared/deployment_progress', :deployment => @deployment, :width => '440px' %></li>
      <li>
        <%= icon('star', ' ', 'fa-fw') %>Deployment <%= @deployment.deploymentId %> created
        <strong><%= time_ago_in_words(@deployment.created_timestamp) %></strong>
      </li>
      <li><%= icon('user', ' ', 'fa-fw') %>Created by <strong><%= @deployment.createdBy %></strong></li>
      <% if @deployment.deploymentState == 'failed' %>
        <li>
          <%= icon('exclamation-triangle', ' ', 'fa-fw') %>
          Deployment <strong>failed</strong>
          <strong><%= time_ago_in_words(@deployment.updated_timestamp) %></strong>
        </li>
        <%= render 'deployment_problems' %>
      <% elsif @deployment.deploymentState == 'pending' && @pending_approvals.present? %>
         <%= render 'pending_approvals_info' %>
      <% end %>
    </ul>
    <ul class="status-actions">
      <li>
        <%= link_busy(button(icon(site_icon(:deployment), 'View Deployment'), nil, 'primary'),
                      :url    => edit_assembly_transition_environment_deployment_path(@assembly, @environment, @deployment),
                      :method => :get,
                      :busy   => 'Retrieving deployment plan...') %>
      </li>
      <% if has_transition?(@assembly.ciId) %>
        <% if @deployment.deploymentState == 'active' %>
          <li><%= render 'transition/deployments/action', :action => 'pause' %></li>
        <% elsif @deployment.deploymentState == 'failed' %>
          <li><%= render 'transition/deployments/action', :action => 'cancel' %></li>
          <li><%= render 'transition/deployments/action', :action => 'retry' %></li>
        <% elsif @deployment.deploymentState == 'paused' %>
          <li><%= render 'transition/deployments/action', :action => 'cancel' %></li>
          <li><%= render 'transition/deployments/action', :action => 'resume' %></li>
        <% elsif @deployment.deploymentState == 'pending' %>
          <li><%= render 'transition/deployments/action', :action => 'cancel' %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% elsif @environment.ciState == 'replace' || @bom_release # Second condition (open bom release without deployment)should not really happen but... %>
  <%= render 'status_deployment_pending' %>
<% elsif @deployment %>
  <div class="marker"><%= status_marker('deployment', @deployment.deploymentState, state_to_label(@deployment.deploymentState)) %></div>
  <div class="description">
    <ul class="status-items">
      <li>
        <%= icon('check', ' ', 'fa-fw') %>Last deployment <%= @deployment.deploymentId %> <%= @deployment.deploymentState %>
        <strong><%= time_ago_in_words(@deployment.updated_timestamp) %></strong>
      </li>
      <li><%= icon('user', ' ', 'fa-fw') %>Deployed by <b><%= @deployment.createdBy %></b></li>
      <li><%= icon('clock-o', ' ', 'fa-fw') %>Duration of last deployment was
        <strong><%= ((@deployment.updated_timestamp - @deployment.created_timestamp) / 60).round %> minutes</strong>
      </li>
      <li><%= icon('th-list', ' ', 'fa-fw') %><%= link_to(highlight('View', 'info'), '#timeline/timeline_list/filter::type=deployment') %> history of deployments</li>
      <% unless @manifest && @manifest.releaseState == 'open' %>
        <li><%= icon('info-circle', ' ', 'fa-fw') %>You can 'Force deploy' last release from <strong><%= link_to('environment operations', assembly_operations_environment_path(@assembly, @environment)) %></strong></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="marker"><%= status_marker('deployment', 'none', 'label') %></div>
<% end %>
