<%= title 'Forgot your password?' %>

<div id="signin">
  <%= section_panel "Forgot your password?" do %>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  	<%= devise_error_messages! %>

	  <div class="control-group">
	    <%= f.label :email, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.email_field :email %>
	    </div>
	  </div>

		<div class="control-group">
			<div class='controls'>
	  			<%= f.submit "Send me reset password instructions", :class => "btn btn-large btn-success" %>
	  			<br>
          		<br>
          		... or <strong><%= link_to "Sign in", new_session_path(resource_name) %></strong>
	  		</div>
	  	</div>
	  	
	  <div id="shared-links" class="control-group">
        <%= render :partial => "devise/shared/links" %>
      </div>
	<% end %>
<% end %>
