<%= section_panel 'Deployment Details', :width => 'double', :position => 'right' do %>
  <ul class="status">
    <li>
      <div class="marker">
        <%= deployment_state_icon(@deployment.deploymentState) %>
      </div>
      <div class="description">
        <ul>
          <li>
            <%= icon('info-circle') %> deployment <%= highlight(@deployment.deploymentId) %> for
            release <%= link_to(highlight(@manifest.releaseId), assembly_transition_environment_path(@assembly, @environment, :anchor => "releases/list_item/#{@manifest.releaseId}")) %> is
            in <%= highlight(@deployment.deploymentState, @deployment.deploymentState) %> state
          </li>
          <li>
            <%= icon('star') %> submitted <%= highlight(time_ago_in_words(@deployment.created_timestamp)) %>
            by <%= highlight(@deployment.createdBy, 'info') %>
          </li>
          <% if @deployment.deploymentState == 'complete' %>
            <li>
              <%= icon('clock-o') %> duration was
              <strong><%= time_duration_in_words((@deployment.updated_timestamp - @deployment.created_timestamp) * 1000) %></strong>
            </li>
          <% else %>
            <% if @deployment.updatedBy %>
              <li>
                <%= icon('arrow-circle-o-down') %> <%= @deployment.deploymentState %>
                by <%= highlight(@deployment.updatedBy, 'info') %>
                <%= highlight(time_ago_in_words(@deployment.updated_timestamp)) %>
              </li>
            <% end %>
          <% end %>
          <% if @deployment.comments.present? %>
            <li><%= icon('comment') %> <%= @deployment.comments %></li>
          <% end %>
          <% if @deployment.ops.present? %>
            <li><%= icon('exclamation-triangle') %> <%= @deployment.ops %></li>
          <% end %>
        </ul>
      </div>
    <li>
  </ul>
<% end %>
<% if @state_history.present? %>
  <%= section_panel 'State History', :width => 'double', :position => 'right' do %>
    <%= render 'state_history' %>
  <% end %>
<% end %>
<%= section_panel 'Details', :width => 'double', :position => 'right' do %>
  <p><%= render 'cms/rfcs/rfc_list', :rfc_cis => @rfc_cis, :rfc_relations => @rfc_relations %></p>
<% end %>
