<%= grouped_list(@team.groups.includes(:users).all,
                 :new_link => is_admin? && link_to_function('Add group...', 'new_team_group_dialog()'),
                 :collapse => true,
                 :toolbar  => {:list_name => 'team_group_list',
                               :filter_by => %w(username group)}) do |group_builder, group| %>
  <% group_builder.title do %>
    <%= group.name %>
    &nbsp;&nbsp;<small><span class="muted"><%= pluralize(group.users.size, 'user') %></span></small>
  <% end %>
  <% if is_admin? %>
    <% group_builder.menu do %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span><%= icon('ellipsis-vertical') %>&nbsp;</span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to(icon('remove', 'Remove'), organization_team_member_path(@team, group.name, :type => 'group'), :method => :delete, :remote => true, :confirm => "Remove group '#{group.name}' from team '#{@team.name}'?") %></li>
      </ul>
    <% end %>
  <% end %>
  <%= group_builder.items(group.users) do |builder, user| %>
    <% builder.itemid user.id %>
    <% builder.attributes raw(%(username="#{user.username}" group="#{group.name}")) %>
    <% builder.top do %>
      <span class="topname"><%= user.username %></span>
      <span class="topdesc"><%= user.email %></span>
    <% end %>
    <% full_name = user.name
       builder.middle full_name if full_name.present? %>
  <% end %>
<% end %>
