<td>
  <table class="table table-condensed">
    <tr>
      <td colspan="2"><b>Waiting for pending approvals</b></td>
    </tr>
    <tr>
      <td colspan="2">
        <table class="table table-condensed well well-small">
          <% allowed_to_settle_count = 0
             approvals_by_cloud = @approvals.select { |a| a.state == 'pending' }.group_by {|a| a.govern_ci.nsPath} %>
          <% approvals_by_cloud.keys.sort.each do |ns_path| %>
            <% cloud = ns_path.split('/')[3] %>
            <% approvals_by_cloud[ns_path].sort_by {|a| a.govern_ci.ciName}.each do |a| %>
              <% allowed_to_settle = allowed_to_settle_approval?(a)
                 allowed_to_settle_count +=1 if allowed_to_settle %>
              <tr>
                <td><%= cloud %></td>
                <td><%= link_to(highlight(a.govern_ci.ciName), path_to_ci(a.govern_ci)) %></td>
                <% if Rails.env.shared? || Rails.env.development? %>
                  <td>
                    <% if allowed_to_settle %>
                      <%= render 'cms/cis/checkbox',
                                 :attribute_name  => 'approvalId',
                                 :attribute_value => '',
                                 :checked_value   => a.approvalId,
                                 :unchecked_value => '' %>
                    <% end %>

                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>
      </td>
    </tr>
    <% if Rails.env.shared? || Rails.env.development? %>
      <tr>
        <td colspan="2"><%= text_area_tag :pending_deployment_comments, nil, :placeholder => 'comments', :style => 'width:100%' %></td>
      </tr>
      <tr>
        <% if allowed_to_settle_count > 0 %>
          <td>
            <div class="btn-group">
              <%= link_to_function(raw(content_tag(:span, icon('thumbs-down', 'Reject'))), 'settle_pending_approvals(this, "rejected", "Rejecting...")', :class => 'btn btn-danger disabled', :id => 'reject_deployment_button') %>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <a id="approve_deployment_button" class="btn btn-success dropdown-toggle disabled" data-toggle="dropdown" href="#">
                <%= icon('thumbs-up') %> <span>Approve</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu drop-up">
                <li class="disabled" style="border-bottom: 1px solid #bbb">
                  <a>
                    Approvals are valid for:
                  </a>
                </li>
                <% [['now only', 1],
                    ['2 hours', 2 * 60],
                    ['6 hours', 6 * 60],
                    ['12 hours', 12 * 60],
                    ['24 hours', 24 * 60]].each do |expiration| %>
                  <li><%= link_to_function(expiration[0], "settle_pending_approvals(this, 'approved', 'Approving...', '#{expiration[1]}')") %></li>
                <% end %>
              </ul>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if has_transition?(@assembly.ciId) %>
      <tr>
        <td colspan="2">
          <hr/><%= render 'transition/deployments/action', :action => 'cancel' %></td>
      </tr>
    <% end %>
  </table>
</td>
<script>
  $j("input[name^=approvalId]").change(function() {
    if ($j("input[name^=approvalId][value!='']").length > 0) {
      $j("#reject_deployment_button").removeClass('disabled');
      $j("#approve_deployment_button").removeClass('disabled');
      $j("#approve_deployment_button").parents("btn-group").find(".dropdown-menu a").removeClass('disabled');
    }
    else {
      $j("#reject_deployment_button").addClass('disabled');
      $j("#approve_deployment_button").addClass('disabled');
      $j("#approve_deployment_button").parents("btn-group").find(".dropdown-menu a").addClass('disabled');
    }
  });
</script>
