<%= organization_page_header('catalogs') %>
<%= page_title :page_kind => 'Catalogs', :page_label => nil %>
<%= page_info 'Manage catalogs' %>

<%= section_panel "Public Catalogs #{count_marker(@public_catalogs.size)}", :width => 'single' do %>
  <%= ci_list(@public_catalogs) do |builder, target| %>
    <% builder.target link_to('', catalog_path(target), :remote => false) %>
    <% builder.icon :none %>
    <% if is_admin? %>
      <% builder.menu do %>
        <%= link_to(icon('star-empty', 'New Assembly'), new_assembly_path(:catalog_template => target.ciId)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= section_panel "Private Catalogs #{count_marker(@private_catalogs.size)}", :width => 'single' do %>
  <%= ci_list(@private_catalogs) do |builder, target| %>
    <% builder.target link_to('', catalog_path(target), :remote => false) %>
    <% builder.icon :none %>
    <% builder.menu do %>
      <%= link_to(icon('star-empty', 'New Assembly'), new_assembly_path(:catalog_template => target.ciId)) if is_admin? %>
      <%= link_to(icon('download',   'Export'),       export_catalog_path(target)) %>
      <%= link_to(icon('trash',      'Delete'),       catalog_path(target), :method => :delete, :confirm => "Delete catalog '#{target.ciName}'?") %>
    <% end %>
  <% end %>
<% end %>

<%= section_panel 'Import', :width => 'single', :position => 'right' do %>
  <%= form_tag import_catalogs_path, :multipart => true do %>
    <div class="control-group">
      <%= label_tag :name, 'Name', :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :name, '', :pattern => Cms::Ci::VALID_CI_NAME_REGEXP %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :description, 'Description', :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :description, '' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :name, 'Catalog File', :class => 'control-label' %>
      <div class="controls">
        <%= file_field_tag :data, :required => true %>
      </div>
    </div>
    <%= link_to_function(icon_button('upload', 'Import', nil, 'success'), 'import_catalog(this)') %>
  <% end %>
<% end %>
<script type="text/javascript">
  window.import_catalog = function(el) {
    var link = $j(el);
    link.href = "#";
    var button = link.children("button");
    button.disabled = true;
    button.addClass('disabled');
    button.html("Wait...");
    link.parent("form").submit();
  }
</script>
