<% deploying  = @deployment && %w(active paused failed pending).index(@deployment.deploymentState)
   generating = @environment.ciState == 'locked' %>
<% content_for :discard_button do %>
  <%= link_confirm_busy('Discard',
                        :class   => 'btn btn-danger',
                        :url     => discard_assembly_transition_environment_path(@assembly, @environment),
                        :method  => :post,
                        :confirm => 'Discard changes?',
                        :busy    => 'Discarding changes...') %>
<% end %>
<% if deploying || generating %>
  <% if deploying %>
    <div class="alert">You can not commit while deployment is in progress.</div>
    <%= yield :discard_button %>
  <% end %>
  <% if generating %>
    <div class="alert">You can not discard or commit while deployment plan generation is in progress.</div>
    <%= button('Discard', nil,' btn btn-danger disabled') %>
  <% end %>
  <%= button('Commit & Deploy', nil,' btn btn-success disabled') %>
<% else %>
  <div>
    <%= yield :discard_button %>
    <%= render 'transition/commit_and_deploy_prompt' %>
  </div>
<% end %>
