<% status = @platform.ciAttributes.autoscale == 'true' ? 'enabled' : 'disabled' %>
<div class="marker">
  <%= status_marker('autoscale', status, state_to_label(status)) %>
</div>
<div class="description">
  <ul>
    <li>
      <%= icon('time', ' ') %> Autoscale <%= highlight(status) %>
      <%= time_ago_in_words(Time.at(@platform_detail.attributes[:attributes].autoscale.updated/1000)) %>
    </li>
  </ul>
  <% if has_operations?(@assembly.ciId) %>
    <ul class="status-actions">
      <% if status == 'enabled' %>
        <li><%= link_to(icon_button('resize-full', 'Disable', ''), autoscale_assembly_operations_environment_platform_path(@assembly, @environment, @platform, :status => 'disable'), :method => :put, :remote => true) %></li>
      <% else %>
        <li><%= link_to(icon_button('resize-full', 'Enable', 'success'), autoscale_assembly_operations_environment_platform_path(@assembly, @environment, @platform, :status => 'enable'), :method => :put, :remote => true) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
