<%= render 'base/cost/cost_summary' %>

<div class="single right section">
  <ul class="glance">
    <li>
      <%= link_to "#{edit_organization_path}#users" do %>
        <strong><%= current_user.organization.users.size %></strong>
        <span>users</span>
      <% end %>
    </li>
    <li>
      <%= link_to clouds_path do %>
        <strong><%= @clouds.size %></strong>
        <span>clouds</span>
      <% end %>
    </li>
    <li>
      <%= link_to assemblies_path do %>
        <strong><%= @entities['base.Manages'] ? @entities['base.Manages'].size : 0 %></strong>
        <span>assemblies</span>
      <% end %>
    </li>
  </ul>
</div>

<% favs = current_user.favorites.where(:organization_id => current_user.organization_id).order(:ci_name) %>
<% if favs.blank? %>
  <%= section_panel 'Assemblies', :width => 'single', :position => 'right' do %>
    <%= ci_list @assemblies, :toolbar => {:sort_by => [%w(Name ciName)], :filter_by => %w(ciName)} do |builder, target| %>
      <% builder.target link_to('', assembly_path(target), :remote => false) %>
      <% builder.icon :none %>
      <% builder.top do %>
        <span class="topname"><%= target.ciName %></span>
      <% end %>
      <% builder.middle do %>
        <%= link_to(icon(site_icon('design'), 'design'),         assembly_design_path(target)) %>&nbsp;&nbsp;
        <%= link_to(icon(site_icon('transition'), 'transition'), assembly_transition_path(target)) %>&nbsp;&nbsp;
        <%= link_to(icon(site_icon('operations'), 'operations'), assembly_operations_path(target)) %>&nbsp;&nbsp;
      <% end %>
      <% builder.bottom :none %>
    <% end %>
  <% end %>
<% else %>
  <%= render 'favorite_list', :favorites => favs %>
<% end %>

<%= section_panel 'Recent Notifications',
                  :width    => 'double',
                  :position => 'left',
                  :menu     => [link_to(icon('bar-chart'),
                                        notification_reports_path(:period => 'today'),
                                        :class => 'btn btn-mini')] do %>
  <div id="notification_list">
    <i class="icon-spinner icon-spin"></i> Loading...
  </div>
  <script type="text/javascript">
    <%= remote_function(:url => notifications_organization_path, :method => :get) %>
  </script>
<% end %>
