<%= section_panel 'Status', :id => 'status_section', :width => 'double', :position => 'left' do %>
  <%= render :partial => 'status' %>
<% end %>

<% enabled_platforms_count = @platforms.reject{ |e| e.relationAttributes.enabled != 'true' }.count
   marker_text = "#{enabled_platforms_count} of #{@platforms.count}" %>
<%= section_panel "Platforms #{count_marker(marker_text)}", :id => 'platform_list', :width => 'single', :position => 'right' do %>
  <%= render 'platform_list' %>
<% end %>

<% if @diagram %>
  <%= section_panel('Diagram',
                    :width    => 'double',
                    :position => 'left',
                    :menu     => [link_to(content_tag(:i, '', :class => 'icon-resize-full') + ' Full', diagram_assembly_transition_environment_path(@assembly, @environment, :size => '11,8'), :target => '_blank', :class => 'btn btn-mini')]) do %>
  	<div class="diagram"><%= raw(@diagram) %></div>
  <% end %>
<% end %>
