<%= section_panel 'Team Details', :width => 'double', :position => 'right' do %>
  <%= render('base/shared/edit_form',
             {:resource    => @team,
              :content     => 'team_details_content',
              :read_only   => !is_admin?,
              :cancel_url  => organization_teams_path,
              :form_url    => @team.new_record? ? organization_teams_path : organization_team_path(@team),
              :destroy_url => @team.new_record? ? nil : organization_team_path(@team)}) %>
<% end %>

<% unless @team.new_record? %>
	<%= section_panel icon('user', 'User Members'),
                    :width    => 'double',
                    :position => 'right',
                    :menu     => is_admin? ? [link_to_function(icon('plus', 'Add', 'icon-fixed-width'), 'new_team_user_dialog()', :remote => true, :class => 'btn btn-mini')] : nil do %>
		<div id="team_user_members">
			<%= render('organization/team_members/user_list') %>
		</div>
	<% end %>
  <br>
  <%= section_panel icon('group', 'Group Members'),
                     :width    => 'double',
                     :position => 'right',
                     :menu     => is_admin? ? [link_to_function(icon('plus', 'Add', 'icon-fixed-width'), 'new_team_group_dialog()', :remote => true, :class => 'btn btn-mini')] : nil do %>
		<div id="team_group_members">
			<%= render('organization/team_members/group_list') %>
		</div>
	<% end %>
  <div id="add_team_user" class="modal hide">
     <div class="modal-header">
       <button class="close" data-dismiss="modal">&times;</button>
       <h3>Add User to Team '<%= @team.name %>'</h3>
     </div>
     <%= form_tag(organization_team_members_path(@team), :remote => true, :class => 'form-inline') do %>
       <div class="modal-body" style="height:250px; overflow-x: hidden">
         <%= label_tag :username, 'Username', :class => 'control-label' %>
         <%= text_field_tag :username, '', :class => 'input-xlarge', :required => true, :autocomplete => 'off', :placeholder => 'Enter username...' %>
       </div>
       <div class="modal-footer">
         <button class="btn btn-danger btn-large" data-dismiss="modal">Cancel</button>
         <%= submit_tag 'Add User', :class => 'btn btn-success btn-large' %>
       </div>
     <% end %>
 	</div>
  <div id="add_team_group" class="modal hide">
     <div class="modal-header">
       <button class="close" data-dismiss="modal">&times;</button>
       <h3>Add Group to Team '<%= @team.name %>'</h3>
     </div>
     <%= form_tag(organization_team_members_path(@team), :remote => true, :class => 'form-inline') do %>
       <div class="modal-body" style="height:250px; overflow-x: hidden">
         <%= label_tag :group, 'Group name', :class => 'control-label' %>
         <%= text_field_tag :group, '', :class => 'input-xlarge', :required => true, :autocomplete => 'off', :placeholder => 'Enter group name...' %>
       </div>
       <div class="modal-footer">
         <button class="btn btn-danger btn-large" data-dismiss="modal">Cancel</button>
         <%= submit_tag 'Add Group', :class => 'btn btn-success btn-large' %>
       </div>
     <% end %>
 	</div>
<% end %>
<script>
  window.new_team_user_dialog = function() {
    $j("#add_team_user input#username").val('');
    $j("#add_team_user").modal("show");
  };

  window.new_team_group_dialog = function() {
    $j("#add_team_group input#group").val('');
    $j("#add_team_group").modal("show");
  };

  var userLookupFn = function (query, process) {
    return $j.get('<%= user_lookup_path %>',
        {login: query},
        function (data) {
          return process(data);
        });
  };

  var groupLookupFn = function (query, process) {
    return $j.get('<%= lookup_account_groups_path %>',
        {name: query},
        function (data) {
          return process(data);
        });
  };

  var updaterFn = function(item) {
    return item.split(' ')[0];
  };

  $j('#add_team_user input#username').typeahead({source: userLookupFn, updater: updaterFn});
  $j('#add_team_group input#group').typeahead({source: groupLookupFn, updater: updaterFn});
</script>
