<% current_user.organizations.order(:name).each do |org| %>
  <li>
    <%= link_to(change_organization_account_profile_path(:org_id => org.id), :method => :put) do %>
      <%= icon(current_user.organization.id == org.id ? 'ok' : '', nil, 'icon-fixed-width') %> <%= org.name %>
      <% if org.full_name.present? %>
        <br/>
        <small style="margin-left:40px"><%= org.full_name %></small>
      <% end %>
    <% end %>
  </li>
<% end %>
<li class="divider"></li>
<li><%= link_to_function(content_tag(:small, 'Find organization...'), '$j("#organization_lookup_modal").modal("show")') %></li>
