<% if @violations.nil? %>
  <span class="text-error"><%= icon('warning-sign') %> <strong>Failed to check policy compliance</strong></span>
<% elsif @violations.empty? %>
  <%= marker('passed', 'label-success') %>
<% else %>
  <%= marker('failed', 'label-important') %><br/>
  <ul class="unstyled" style="margin-left:10px">
    <% @violations.each do |p| %>
      <li>
        <strong><%= p.ciName %></strong>
        <% desc = p.ciAttributes.description %>
        <% if desc.present? %>
          - <%= desc %>
        <% end %>
        <% doc_url = p.ciAttributes.docurl %>
        <%= link_to(icon('book', 'more...'), doc_url, :target => '_blank') if doc_url.present? %>
      </li>
    <% end %>
  </ul>
<% end %>
